/* Removed default margin,padding and added font family */

* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

/* Header section styles  */

header {
    background: rgba(255, 144, 14, 0.1);
    width: 100%;
    height: 1170px;
}

.header-container {
    display: flex;
    justify-content: space-between;
}

.top-title {
    color: #131313;
    font-weight: 700;
    font-size: 25px;
    margin: 50px 670px 100px 180px;
}

nav ul li {
    color: #424242;
    display: inline;
    text-align: center;
    list-style: none;
    font-weight: 500;
    font-size: 15px;
    padding-right: 27px;
}

.nav {
    margin: 65px 144px 116px 0;
}

/* header section 2 */

.header-middle-section {
    width: 750px;
    height: 200px;
    text-align: center;
    margin-left: 370px;

}


.section-title {
    text-align: center;
    font-weight: 700;
    font-size: 64px;
    line-height: 70px;
    padding-bottom: 18px;

}

.section-description {
    font-weight: 400;
    font-size: 14px;
}

/* btn section  */

.primary-btn {
    color: #FFFFFF;
    background: #FF900E;
    width: 180px;
    height: 60px;
    border: 0;
    font-weight: 600;
    font-size: 17px;
    border-radius: 9px;
    position: relative;
    left: 43%;
    margin-top: 33px;
    margin-bottom: 40px;
}

/* header image section  */

.header-img img {
    width: 1195px;
    height: 600px;
    border-radius: 9px;
    margin: 0 160px 0 160px;
}


/* main section-1 style */

.main-section-1 {
    width: 27%;
    position: relative;
    left: 220px;
    display: flex;
    margin-top: 50px;
    margin-bottom: 130px;

}

.section-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
}

.section-img img {
    width: 200px;
    height: 200px;
    border-radius: 10px;

}

.Features-section {
    margin-top: 100px;
    margin-left: 110px;
    width: 530px;
    height: 300px;
}

.feature-heading {
    width: 300px;

}

.Quick {
    color: #727272;
    font-size: 30px;
    font-weight: 500px;

}

.our {
    color: #131313;
    font-size: 30px;
    font-weight: 800px;

}

.Features {
    color: #FF900E;
    font-size: 30px;
    font-weight: 800px;
}

.Features-description {
    width: 530px;
    font-size: 15px;
    font-weight: 400;
    color: #727272;
    margin: 24px 0 32px 0;
}

.primary-btn-2 {
    color: #FFFFFF;
    background: #FF900E;
    width: 180px;
    height: 60px;
    border: 0;
    font-weight: 600;
    font-size: 17px;
    border-radius: 9px;
}


/* main section-2 styles */

.main-section-2 {
    display: flex;
}

.text-container {
    border-left: 4px solid #FF900E;
    height: 82px;
    margin-left: 140px;


}

.main-heading {
    color: #131313;
    font-size: 35px;
    font-weight: 800;
    width: 300px;
    margin-left: 20px;
    margin-bottom: 25px;
}

.other-heading {
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 20px;
}

.section-description-1 {
    color: #727272;
    font-weight: 400;
    font-size: 15px;
    width: 586px;
    height: 78px;
}

.section-description-2 {
    color: #727272;
    font-weight: 400;
    font-size: 15px;
    width: 586px;
    height: 78px;

}

.box-shadow {
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    width: 586px;
    padding: 20px;
    margin-bottom: 20px;
}

.section-img-2 {
    width: 700px;
    height: 920px;
    margin-left: 55px;
    
}

.section-img-2 img {
    width: 565px;
    height: 920px;
    margin: 0 0 77px 86px;
}

/* Main section-2 btn styles */

.btn {
    position: relative;
}

.year-btn {
    background: #FF900E;
    width: 252px;
    height: 161px;
    position: absolute;
    bottom: 24px;
    left: 15px;
    border: 0;
    border-radius: 12px;
}

.year {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 50px;
    text-align: center;
}

.year-ex {
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    color: #FFFFFF;
}

/* Some fact section */

.fact-section {
    width: 542px;
    margin-top: 130px;
    margin-left: 147px;
    margin-bottom: 100px;
}

.fact {
    color: #131313;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 25px;
}

.fact-description {
    color: #727272;
    font-weight: 400;
    font-size: 16px;
}

/* main icon section-3 styles */

.icon-section {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 180px;
}

.icon-details {
    width: 240px;
    height: 180px;
    border: 2px solid #FF900E;
    border-radius: 8px;
    text-align: center;
    padding-top: 60px;
    transition: transform 2s ease-in-out;
    
}
.icon-details:hover{
    transform: scale(0.5) rotate(360deg); 
    
}


.icon-img {
    width: 35px;
    height: 35px;
    margin-bottom: 8px;
}

.hi-54 {
    color: #424242;
    font-size: 39px;
    font-weight: 700;
    margin-bottom: 8px;
}

.icon-description {
    color: #727272;
    font-size: 15px;
    font-weight: 600;
}


/* sponsor section styles */

.sponsors-section {
    width: 520px;
    text-align: center;
    margin-left: 490px;
    margin-bottom: 50px;

}

.sponsors-title {
    margin-bottom: 24px;
    color: #131313;
    font-size: 35px;
    font-weight: 800;
}

.sponsor-description {
    color: #727272;
    font-size: 14px;
    font-weight: 400;
}

/* sponsor img section styles */


.sponsors-img {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 130px;
    mix-blend-mode: screen;
}

.spns-img-1 img {
    width: 150px;
    height: 35px;
}

.spns-img-2 img {
    width: 130px;
    height: 30px;
}

.spns-img-3 img {
    width: 150px;
    height: 35px;
}

.spns-img-4 img {
    width: 130px;
    height: 34px;

}

.spns-img-5 img {
    width: 166px;
    height: 34px;
}

/* footer section styles */


.footer-section {
    width: 1255px;
    background: #FFF4E7;
    border-radius: 10px;
    text-align: center;
    padding: 40px 0;
    margin: 0 240px 210px 140px;
    
}

.footer-description {
    color: #424242;
    font-size: 16px;
    font-weight: 400;
}